{% extends './base.html' %}

{% load static %}


{% block header %}

<header class="masthead text-white">
    <div class="masthead-content f">
        <div class="container">
            <h1 class="masthead-heading mb-0 Build-Your-First-And">INTRODUCCIÓN A CIENCIA DE DATOS</h1>
            <h2 class="masthead-subheading mb-0 mt-20 Learn-Android-App-De">¡En solo 4 sábados aprenderás las bases para
                                                                            convertirte en Ciéntifico de Datos!</h2>
            <a href="https://alluxiacademy.typeform.com/to/E7QnHL">
                <button type="button" class="btn btn-primary BG mt-20">REGÍSTRATE</button>
            </a>
        </div>
    </div>
</header>
{% endblock %}

{% block details %}

<section>
    <div class="container">
        <div class="row align-items-center ptb-50">
            <p class="About-this-course col-lg-12">Sobre este curso</p>
            <div class="col-lg-6 Lorem-ipsum-dolor-si">
                <p>
                    Aprende a generar predicciones utilizando Python y algoritmos de machine learning. En este curso
                    aplicarás técnicas para tratar, limpiar y analizar la información; todo lo necesario para
                    convertirte en Científico de Datos.
                </p>
                <p class="syl-title">
                    Se llevará a cabo en <br/> <a href="https://goo.gl/maps/U4TVNmErnUC2">WeWork Lazaro Cardenas</a>
                </p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Coaches profesionales</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Orientación personal</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Certificación del curso</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Desarrollo personal</p>
                    </div>
                    <div class="col-lg-6">
                        <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Nivel básico/intermedio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block subjects %}

<section>
    <div class="container">
        <div class="row align-items-center ptb-50">
            <p class="Course-Information col-lg-12">Información del Curso</p>
            <div class="col-lg-12 pt-45">
                <div class="row">
                    <div class="col-lg-3 text-center">
                        <img src="{% static 'img/img-info-venue.png' %}">
                        <p class="blue-title">Sede</p>
                        <p class="Information">El curso se llevará a cabo en WeWork Lazaro Cardenas</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="{% static 'img/img-info-date.png' %}">
                        <p class="blue-title">Fecha</p>
                        <p class="Information">Iniciaremos el curso sábado 3 de Agosto</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="{% static 'img/img-info-timeline.png' %}">
                        <p class="blue-title">Duración</p>
                        <p class="Information">La duración del curso es de 4 semanas</p>
                    </div>
                    <div class="col-lg-3 text-center">
                        <img src="{% static 'img/img-info-schedules.png' %}">
                        <p class="blue-title">Horario</p>
                        <p class="Information">El horario del curso es de 9:00 AM a 1:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block paypal %}

<section>
    <div class="container">
        <div class="row align-items-center ptb-50">

            <div class="col-lg-3 Lorem-ipsum-dolor-si text-center">
                <p class="About-this-course col-lg-12">Instructor</p>
                <img class="Profile-Pic" src="{% static 'img/instructor-jaime.jpg' %}">
                <p class="Name pt-30">Jaime Figueroa</p>
                <p class="Job-Title">Data Scientist en Banregio</p>
                <div class="row social pt-30">
                    <!--<a href="https://github.com/gusreyes01"><img class="px-15" src="{% static 'img/img-social-github.png' %}"></a>-->
                    <a href="https://www.linkedin.com/in/jaime-figueroa/"><img class="px-15"
                                                                               src="{% static 'img/img-social-linkedin.png' %}"></a>
                </div>
                <p class="pt-30 text-left">
                    Jaime ha encontrado en la ciencia de datos un interesante punto de encuentro entre el negocio y la
                    tecnología. Tiene experiencia en operación y desarrollo de sistemas. Ha trabajado durante más de 10
                    años en instituciones del sistema bancario y actualmente ejerce como científico de datos en el
                    sistema financiero.
                </p>
            </div>
            <div class="col-lg-9">
                <p class="About-this-course col-lg-12">Temario</p>

                <div class="accordion" id="accordionSyllabus">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link syl-title" type="button" data-toggle="collapse"
                                        data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    Semana 1
                                </button>
                            </h2>
                        </div>

                        <div id="collapse1" class="collapse show" aria-labelledby="heading1"
                             data-parent="#accordionSyllabus">
                            <div class="card-body Information">
                                <ul>
                                    <li>Anaconda</li>
                                    <li>Jupyter</li>
                                    <li>Operaciones con números</li>
                                    <li>Operaciones con cadenas</li>
                                    <li>Listas</li>
                                    <li>Índices y cortes</li>
                                    <li>Diccionarios</li>
                                    <li>Listas por compresión</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse"
                                        data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                    Semana 2
                                </button>
                            </h2>
                        </div>
                        <div id="collapse2" class="collapse" aria-labelledby="heading2"
                             data-parent="#accordionSyllabus">
                            <div class="card-body Information">
                                <ul>
                                    <li>Introducción Numpy</li>
                                    <li>Creación de arreglos</li>
                                    <li>Índices y cortes con arreglos</li>
                                    <li>Arreglos vs matrices</li>
                                    <li>Broadcasting</li>
                                    <li>Reducciones</li>
                                    <li>Introducción Matplotlib</li>
                                    <li>Histogramas, gráficos de barras, dispersión y pastel</li>
                                    <li>Figuras y ejes</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse"
                                        data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Semana 3
                                </button>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3"
                             data-parent="#accordionSyllabus">
                            <div class="card-body Information">
                                <ul>
                                    <li>Introducción a Pandas</li>
                                    <li>Series y DataFrames</li>
                                    <li>Operaciones con series</li>
                                    <li>Máscaras (filtros)</li>
                                    <li>índices y columnas de un Dataframe</li>
                                    <li>Agrupaciones</li>
                                    <li>Ejercicio práctica con Pandas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse"
                                        data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Semana 4
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4"
                             data-parent="#accordionSyllabus">
                            <div class="card-body Information">
                                <ul>
                                    <li>Sesión práctica con Pandas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
