<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- PAYPAL -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script
    src="https://www.paypal.com/sdk/js?client-id=AW0xCM5SKpCDyutKGP5qP5TxJvtoNr11BI7MuEc_obGsxUGSqxj-AoxqQc1H-8lrEIekF7fiI4Z9q6xf&currency=MXN">
  </script>

  <title>Alluxi Academy</title>
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


  <!-- Custom styles for this template -->
  <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><img class="img_alluxi_horizontal_color" src="{% static 'img/img-alluxi-horizontal-color@3x.png' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#enroll"><button type="button" class="btn btn-primary BG">INSCRÍBETE</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0 Build-Your-First-And">PYTHON CRASH COURSE</h1>
        <h2 class="masthead-subheading mb-0 mt-20 Learn-Android-App-De">En solo 8 sábados aprenderás a programar en el lenguaje mas popular del momento. ¡Python!</h2>
        <a href="#enroll"><button type="button" class="btn btn-primary BG mt-20">INSCRÍBETE</button></a>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center ptb-50">
        <p class="About-this-course col-lg-12">Sobre este curso</p>
        <div class="col-lg-6 Lorem-ipsum-dolor-si">
          <p>
            ¡Hola! te damos la bienvenida a nuestro "Python Crash Course"  donde a lo largo de 8 sábados aprenderás a programar en el lenguaje mas popular del momento, Python; ademas, al mejor costo, únete a nosotros en esta gran aventura.
          </p>
          <p>
            En este curso aprenderas a utilizar los conocimientos y herramientas proporcionadas por el instructor para aprender a desarrollar en Python de la manera mas eficiente a traves de desafiantes proyectos.
          </p>
          <p class="syl-title">
            Se llevará acabo en <br/> <a href="https://goo.gl/maps/U4TVNmErnUC2">WeWork Lazaro Cardenas</a>
          </p>
        </div>
        <div class="col-lg-6">
          <div class="row">
          <div class="col-lg-6">
            <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Coaches profesionales</p>
          </div>
          <div class="col-lg-6">
            <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Orientación personal</p>
          </div>
          <div class="col-lg-6">
            <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Certificación del curso</p>
          </div>
          <div class="col-lg-6">
            <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Desarrollo personal</p>
          </div>
          <div class="col-lg-6">
            <p class="title"><img src="{% static 'img/ic-method-check.png' %}">Nivel básico/intermedio</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center ptb-50">
        <p class="Course-Information col-lg-12">Información del Curso</p>
        <div class="col-lg-12 pt-45">
        <div class="row">
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/img-info-venue.png' %}">
            <p class="blue-title">Sede</p>
            <p class="Information">El curso se llevará a cabo en WeWork Centurion</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/img-info-date.png' %}">
            <p class="blue-title">Fecha</p>
            <p class="Information">El curso comienza el 23 de Marzo</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/img-info-timeline.png' %}">
            <p class="blue-title">Duración</p>
            <p class="Information">La duración del curso es de 8 semanas</p>
          </div>
          <div class="col-lg-3 text-center">
            <img src="{% static 'img/img-info-schedules.png' %}">
            <p class="blue-title">Horario</p>
            <p class="Information">El horario del curso es de 9:00 AM a 2:00 PM</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center ptb-50">
        <p class="Course-Information col-lg-12">Estas empresas ya confían en nostros: </p>
        <div class="row col-lg-12">
          <div class="text-center col-lg-6">
            <img class="screenit" src="{% static 'img/img_bp_screenit@2x.png' %}">
          </div>
          <div class="text-center col-lg-6">
            <img class="IA" src="{% static 'img/logo_IA.png' %}">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center ptb-50">

        <div class="col-lg-3 Lorem-ipsum-dolor-si text-center">
          <p class="About-this-course col-lg-12">Instructor</p>
          <img class="Profile-Pic" src="{% static 'img/instructor.png' %}">
          <p class="Name pt-30">Gustavo Reyes</p>
          <p class="Job-Title">Desarrollador Python</p>
          <div class="row social pt-30">
            <a href="https://github.com/gusreyes01"><img class="px-15" src="{% static 'img/img-social-github.png' %}"></a>
            <a href="https://www.linkedin.com/in/gustavo-reyes-quiroga-264b3a13"><img class="px-15" src="{% static 'img/img-social-linkedin.png' %}"></a>
          </div>
          <p class="pt-30 text-left">
            ¡Hola! Soy un desarrollador con 6 años de experiencia en Python. Actualmente soy CTO en Alluxi con clientes en México y Estados Unidos. Soy un apasionado de la tecnología, el café, el futbol y la cerveza. ¡Estoy ansioso por compartir mis conocimientos dentro del curso!
          </p>
        </div>
        <div class="col-lg-9">
          <p class="About-this-course col-lg-12">Temario</p>

          <div class="accordion" id="accordionSyllabus">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link syl-title" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                      Semana 1: Introducción
                    </button>
                  </h2>
                </div>

                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Descargando el curso</li>
                      <li>Iniciando con la terminal</li>
                      <li>Instalando Anaconda</li>
                      <li>Utilizando Jupyter</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      Semana 2: Condicionales y Ciclos
                    </button>
                  </h2>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Condicionales</li>
                      <li>Declaraciones</li>
                      <li>break, continue & pass</li>
                      <li>del</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                      Semana 3: Strings, Listas y Diccionarios
                    </button>
                  </h2>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Manipulación de Strings</li>
                      <li>Manipulación de Listas</li>
                      <li>Manipulación de Diccionarios</li>
                      <li>List comprehension</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading4">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                      Semana 4: Paquetes y Ambiente Virtual
                    </button>
                  </h2>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Administradores de paquetes: easy_install & Pip</li>
                      <li>Cómo usar virtualenv</li>
                      <li>*args & **kwargs</li>
                      <li>__str__ & __rep__</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading5">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                      Semana 5: Funciones
                    </button>
                  </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Manipulación de  Días y Fechas en Python</li>
                      <li>Funciones</li>
                      <li>Variables</li>
                      <li>Proyecto I</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading6">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                      Semana 6: Importes y Tuplas
                    </button>
                  </h2>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Tuplas</li>
                      <li>Booleanos</li>
                      <li>Importando Módulos</li>
                      <li>Proyecto II</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading7">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                      Semana 7: Programación orientada a objetos
                    </button>
                  </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Programación Orientada a Objetos</li>
                      <li>Reto POO</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading8">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed syl-title" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                      Semana 8: Decoradores y Excepciones
                    </button>
                  </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionSyllabus">
                  <div class="card-body Information">
                    <ul>
                      <li>Proyecto III</li>
                      <li>Generadores</li>
                      <li>Decoradores</li>
                      <li>Manejo de Excepciones</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <div id="enroll"></div>
  <section class="bg-primary" >
    <div class="container">
      <div class="row align-items-center ptb-50">
        <div class="col-lg-6 Take-this-course-content">
          <p class="Take-this-course col-lg-12">¡Inscríbete ahora!</p>
          <p>
            Una vez que tu pago haya sido confirmado te enviaremos un correo de confirmación con detalles necesarios para que inicies a programar como todo un profesional.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="payment-BG">
            <p class="blue-title">PYTHON CRASH COURSE</p>
            <p class="price">$15,000.00 MXN + IVA</p>
            <p class="Information text-center">Pago Único</p>
            <hr/>

            <div class="row">
              <div class="col-lg-6">
                <p class="pay-title"><img src="{% static 'img/ic-method-check.png' %}">Coaches profesionales</p>
              </div>
              <div class="col-lg-6">
                <p class="pay-title"><img src="{% static 'img/ic-method-check.png' %}">Orientación personal</p>
              </div>
              <div class="col-lg-6">
                <p class="pay-title"><img src="{% static 'img/ic-method-check.png' %}">Certificación del curso</p>
              </div>
              <div class="col-lg-6">
                <p class="pay-title"><img src="{% static 'img/ic-method-check.png' %}">Desarrollo personal</p>
              </div>
              <div class="col-lg-6">
                <p class="pay-title"><img src="{% static 'img/ic-method-check.png' %}">Nivel básico/intermedio</p>
              </div>
            </div>
            <div class="text-center">
              <div type="button" id="paypal-button-container" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="accepted-cards-bg">
    <div class="container">
      <div class="row align-items-center ptb-50">
        <p class="Course-Information col-lg-12">Tambien puedes pagar directamente en <a href="#address">nuestras oficinas</a></p>
        <div class="text-center col-lg-6">
          <img class="izettle" src="{% static 'img/izettle.png' %}">
        </div>
        <div class="text-center col-lg-6">
          <img class="accepted-cards" src="{% static 'img/izettle-tarjetas-aceptadas.png' %}">
        </div>
      </div>
    </div>
  </section>

  <section class="questions-BG">
    <div class="container">
      <div class="row align-items-center ptb-50 text-center">
        <p class="About-this-course col-lg-12">Aún tienes preguntas?</p>
        <p class="Lorem-ipsum-dolor-si col-lg-12">Déjanos tu correo y nos pondremos en contacto contigo lo antes posible.</p>
        <div class="col-lg-12">
          <div class="ptb-50">
            <form id="contact-form" class="text-center" method="POST">
                {% csrf_token %}
                    <div class="text-center">
                        <input id="email" type="email" class="input-size label-input-color transparent-BG" placeholder="Correo" required>
                    </div>
                    <div class="text-center">
                        <textarea id="content" class="ta-input-size label-input-color transparent-BG" rows="4" placeholder="Mensaje"></textarea>
                    </div>

                <div class="small-margin-vertical pt-45">
                <button id="send" type="submit" class="btn btn-primary BG" data-toggle="modal" data-target="#contactModal">ENVIAR</button>
                </div>
            </form>
        </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-primary small-margin-sides">
        <div class="row pt-45 footer-padding">
            <div class="col-lg-4">
                <img class="img-alluxi-horizontal-white" src="{% static 'img/img-alluxi-horizontal-white@3x.png' %}">
            </div>
            <div class="col-lg-4" id="address">
                <p class="white-subtitle">México</p>
                <p class="white-subcontent">América 327 Sur, Centro, Monterrey, México</p>
                <p class="white-subcontent">hola@alluxi.mx</p>
                <p class="white-subcontent">+52-(811)-500-1600</p>
                <p class="white-subtitle">United States</p>
                <p class="white-subcontent">(512) 547-3628</p>
                <p class="white-subcontent">Virtual Office <br/> Austin, TX</p>
            </div>
            <div class="col-lg-4">
                <p class="white-subtitle">Follow Us</p>
                <div class="row small-margin-sides">
                    <div class="small-margin-bottom small-margin-sides">
                        <a href="https://mx.linkedin.com/company/alluxi-mx"><img class="ic-social-linkedin" src="{% static 'img/ic-social-linkedin.png' %}"></a>
                    </div>
                    <div class="small-margin-bottom small-margin-sides">
                        <a href="https://twitter.com/AlluxiMx"><img class="ic-social-twitter" src="{% static 'img/ic-social-twitter.png' %}"></a>
                    </div>
                    <div class="small-margin-bottom small-margin-sides">
                        <a href="https://www.facebook.com/alluxiacademy/"><img class="ic-social-facebook" src="{% static 'img/ic-social-facebook.png' %}"></a>
                    </div>
                    <div class="small-margin-bottom small-margin-sides">
                        <a href="https://www.instagram.com/alluximx/"><img class="ic-social-facebook" src="{% static 'img/ic-social-instagram.png' %}"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="footer-text text-center small-margin-vertical">Alluxi  © 2018 All rights reserved</div>
        </div>
    </footer>


  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v3.2'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Your customer chat code -->
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="2124283304318298"
    logged_in_greeting="¡Hola! Gracias por escribirnos. Te contactaremos lo antes posible."
    logged_out_greeting="¡Hola! Gracias por escribirnos. Te contactaremos lo antes posible.">
  </div>

  <script>
    paypal.Buttons({
      createOrder: function(data, actions) {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: '17400'
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        return actions.order.capture().then(function(details) {
          alert('Transaction completed by ' + details.payer.name.given_name);
          // Call your server to save the transaction
          return fetch('/paypal-transaction-complete', {
            method: 'post',
            body: JSON.stringify({
              orderID: data.orderID
            })
          });
        });
      }
    }).render('#paypal-button-container');
  </script>


  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
